<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/spring/beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenSessionInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>struts-default.xml,struts-plugin.xml,struts/struts.xml,struts/struts-*.xml</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
 <!--  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.htcf.util.LoginFilter</filter-class>
    <init-param>
      <param-name>outFilter</param-name>
      <param-value>login.jsp,user_login.do,random</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
  
  
  
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  
  <servlet>
    <servlet-name>RandomServlet</servlet-name>
    <servlet-class>com.htcf.action.RandomServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>
				/main.jsp
			</param-value>
    </init-param>
    <init-param>
      <param-name>propertiesURL</param-name>
      <param-value>
				/message.properties
			</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>AuthenServlet</servlet-name>
    <servlet-class>com.htcf.action.AuthenServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>
				/context.jsp
			</param-value>
    </init-param>
    <init-param>
      <param-name>propertiesURL</param-name>
      <param-value>
				/message.properties
			</param-value>
    </init-param>
  </servlet>
  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RandomServlet</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AuthenServlet</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>random</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>treadFilter</filter-name>
    <filter-class>com.htcf.util.ThreadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>treadFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>/main.jsp</welcome-file>
  </welcome-file-list>
</web-app>